# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Coverage
*.out
coverage.out

# Go workspace
go.work
go.work.sum

# Vendor (ignore se NÃO quiser versionar)
vendor/

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# Logs
*.log

# Build
bin/
dist/

# JetBrains
*.iml